<!DOCTYPE html>
<html>
    <head>
        <title>Menu Page</title>
        <meta name = 'viewport' content = 'width=device-width, intial-scale=1'>
        <link rel = 'stylesheet' href = '/static/css/menucss.css'>
        <script src="https://kit.fontawesome.com/c472ac6f4d.js" crossorigin="anonymous"></script>
    </head>
</html>


<body>
    <header>
        <div class = 'logo'>
            <img src="" alt="">
        </div>

        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/templates/home.html" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="/templates/Menu.html" class="nav__link">Menu</a></li>
                <li class="nav__item"><a href="" class="nav__link">FAQ</a></li>
            </ul>
        </nav>
    </header>


    <div class="carousel-buttons">
        <i class="fa-solid fa-arrow-left" id="prevbutton"></i>
        <div class="carousel-container">   

            <div class="carousel-slide">
                <img src="/static/images/Sample/Nutella Tarts.jpg" id="Carou-last">
                <img src="/static/images/Sample/curryPuff.jpeg" id="Carou-img1">
                <img src="/static/images/Sample/epokVeggie.jpeg"  id="Carou-img2">
                <img src="/static/images/Sample/donutsambal.jpeg" id="Carou-img3">
                <img src="/static/images/Sample/idk2.jpeg" id="Carou-img4">
                <img src="/static/images/Sample/Nutella Tarts.jpg" id="Carou-img5">
                <img src="/static/images/Sample/curryPuff.jpeg" id="Carou-first">
            </div>
        </div>
        <i class="fa-solid fa-arrow-right" id="nextbutton"></i>
    </div>

    <div class="Category">
        <div class="Cat-item1">
            <h3 class="Cat-title">Catering</h2>
        </div>

        <div class="Cat-item2">
            <h3 class="Cat-title">Desserts</h2>
        </div>

        <div class="Cat-item3">
            <h3 class="Cat-title">Traditional</h2>
        </div>


    </div>


    <div class="wrapperCat">
        <div class="Catering-Cat">
            <h2 class="Section-Cat-title">Catering</h2>
            <div class="Nasi-Goreng">
                <img src="/static/images/Sample/nasigoreng.jpeg" class="image-cat">
                <p class="foodtitle">Nasi Goreng</p>
                <div class="catering-description">
                    <strong><p>Price:</p></strong>
                    <strong><p>weight:</p></strong>
                    <strong><p>Note:</strong> 1kg is catered for 5 people</p>
                    <strong><p>Contains:</p></strong>
                </div>
                
            </div>

            <div class="Mee-Goreng">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>weight:</p>
                <p>Note: 1kg is catered for 5 people</p>
                <strong><p>Contains:</p></strong>
                
            </div>


            <div class="KeowTeow-Goreng">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>weight:</p>
                <p>Note: 1kg is catered for 5 people</p>
                <strong><p>Contains:</p></strong>
                
            </div>


            <div class="NasiChinese-Goreng">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>weight:</p>
                <p>Note: 1kg is catered for 5 people</p>
                <strong><p>Contains:</p></strong>
                
            </div>



        </div>







        <div class="Dessert-Cat">
            <h2 class="Section-Cat-title">Dessert</h2>
            <div class="NutellaTart">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>



            <div class="NutellaDonut">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>



            <div class="CheeseDonut">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>


            <div class="Brownie">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>


            
        </div>









        <div class="Traditional-Cat">
            <h2 class="Section-Cat-title">Traditional</h2>

            <div class="CurryPuff">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>

            <div class="SardinePuff">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>


            <div class="VeggiePuff">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>


            <div class="RotiKirai">
                <img src="" class="image-cat">
                <p>Price:</p>
                <p>Quantity:</p>
                <p>Note:</p>
                <strong><p>Contains:</p></strong>
                
            </div>
            
        </div>
    </div>




    <!--footer-->
    <footer class="footer">
        <a href="mailto:asyrafomar68@gmail.com" class="footer-link">asyrafomar68@gmail.com</a>
        <ul class="social-list">
            
            
            <li class="social_list_item">
                <a class="social-list-instagram" href="https://instagram.com/umi_hanomismail"><i class="fa-brands fa-instagram"></i>
                </a>
            </li>


            <li class="social_list_item">
                <a class="social-list-facebook" href="https://facebook.com/hanom.ismail"><i class="fa-brands fa-facebook"></i>
                </a>
            </li>

        </ul>
    </footer>

    <script src="/static/javascript/carousellslider.js"></script>
    <script src="/static/javascript/menucategory.js"></script>
    <script src="/static/javascript/navjs.js"></script>
</body>